@use 'sass:color';
@use 'variables' as vars;
@use 'mixins' as mix;
@use 'normalize.css/normalize.css';

// 导入布局样式
@forward 'layout';
@forward 'variables';
@forward 'base';
@forward 'utilities';


// 全局样式
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(14px, 0.625vw + 12px, 16px);
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-family-base);
  font-size: var(--text-md);
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: var(--line-height-base);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--space-2);
}


// 如果有其他样式文件，也使用 @forward 导入
